---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import RecentPosts from "../components/sections/RecentPosts.astro";
import HeroImage from "../assets/hero-image.webp";
---

<Layout>
  <main role="main" class="max-w-6xl mx-auto">
    <Hero
      image={HeroImage} className="w-60"
      title="Alejandro Albornoz Blog"
      subtitle="Hola, mi nombr3 es Alejandro Albornoz, actualmente me desempeño como DevOps Engineer"
      primaryAction={{ href: "/blog", label: "View Blog" }}
      secondaryAction={{ href: "/about", label: "About Me" }}
    />
    <RecentPosts />
  </main>
</Layout>
